.footer{
    display: grid;
    height: 10vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 12px;
    border-top: 1px solid #9A9C9F;
}

.support-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.support-tag{
    font-weight: 600;
    color: #3d3d3d;
}

.supporter{
   display: flex;
   justify-content: space-evenly;
   height: 45px;
   align-items: center;
   cursor: pointer;
}

.logo1{
    font-size: 45px;
}
.logo2{
   width: 40px;
}